@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap");

body {
  background-image: url("assets/img/bg.jpg");
  background-position: center;
  background-size: cover;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* font-family: "Roboto", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-submit {
  margin-right: 5px;
}

.ck-editor__editable_inline {
  min-height: 200px;
}

p {
  padding: 0px;
  margin: 0px;
}

.container2 {
  margin: 20px;
}

.container-detail {
  background-color: #fff;
  margin: 20px;
  padding: 10px 15px 20px 15px;
  border-radius: 10px;
}
